<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    jiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijasejiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijase
                    jiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijasejiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijase
                    jiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijasejiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijase
                    jiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijasejiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijase
                    jiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijasejiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijase
                    jiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijasejiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijase
                    jiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijasejiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijase
                    jiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijasejiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijase
                </div>
                <div class="col">
                    jiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijasejiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijase
                    12312381623871238716238716231876318726312763128763187623812631263126123123816238712387162387162318763187263127
                    jiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijasejiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijase
                    12312381623871238716238716231876318726312763128763187623812631263126123123816238712387162387162318763187263127
                    jiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijasejiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijase
                    12312381623871238716238716231876318726312763128763187623812631263126123123816238712387162387162318763187263127
                    jiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijasejiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijase
                    jiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijasejiefjieajfaesoifjasefoijaseoifjaseofjaseofijaseofoijase
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>